.profile__edit-button {
    min-width: 24px;
    height: 24px;
    background-image: url(../../../images/Edit\ Button.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: contain;
    background-color: #000;
    border: none;
    transition: opacity .3s ease;
}

.profile__edit-button:hover {
    cursor: pointer;
    opacity: 0.6;
}

@media screen and (max-width: 768px) {
    .profile__edit-button {
        margin: 0 0 0 10px;
        min-width: 18px;
        height: 18px;
    }
}