.profile__edit-button {
    width: 24px;
    height: 24px;
    display: inline-flex;
    background-image: url("../../../images/Edit\ Button.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: contain;
    opacity: 1;
    transition: opacity .3s ease;
}

.profile__edit-button:hover {
    cursor: pointer;
    opacity: 0.6;
}

@media screen and (max-width: 768px) {
    .profile__edit-button {
        position: absolute;
        transform: translate(0, 30%);
        width: 18px;
        height: 18px;
    }
}