.popup__container {
    position: relative;
    margin: auto;
    padding: 35px;
    width: 430px;
    height: 330px;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-sizing: border-box;
}

@media screen and (max-width: 470px) {  /*430px + 20px + 20px*/
    .popup__container {
        margin: auto 20px;
    }
}

@media screen and (max-width: 768px) {
    .popup__container {
        padding: 25px 22px;
    }
}