.header__logo {
    display: inline-block;
    margin-bottom: 41px;
    background-image: url("../../../images/logo.svg");
    width: 142px;
    height: 33px;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: contain;
}

@media screen and (max-width: 768px) {
    .header__logo {
        width: 104px;
        height: 25px;
    }
}

@media screen and (max-width: 991px) {
    .header__logo {
        margin: 0 27px 31px;
    }
}