.profile__name {
    position: relative;
    margin: 0 0 16px;
    font-size: 0;
    word-break: break-all;
}

@media screen and (max-width: 768px) {
    .profile__name {
        margin: 26px 0 14px;
        text-align: center;
    }
}