.profile__about-me {
    margin: 0;
    font-family: Inter, Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 1;
    color: #FFFFFF;
}

@media screen and (max-width: 768px) {
    .profile__about-me {
        font-size: 14px;
        text-align: center;
    }
}